<!-- Informations -->
<fieldset id="fieldset_informations">
    <legend>Informations</legend>
    
    <!-- Nom de l'intervenant -->
    <label for="nom_intervenant">Votre nom : </label>
    <select name="nom_intervenant" id="nom_intervenant" required>
        <option value="" selected disabled hidden>--Choisir--</option>
        <optgroup label="Chercheurs">
            <option value="Jean Desrosiers">Jean Desrosiers</option>
            <option value="Victor Aupry">Victor Aupry</option>
        </optgroup>
        <optgroup label="Étudiants">
            <option value="Marie Lépicier">Marie Lépicier</option>
            <option value="Romain Bérubé">Romain Bérubé</option>
            <option value="Louis Bousquet">Romain Bousquet</option>
        </optgroup>
    </select>

    <!-- Site de mesure -->
    <label for="nom_site">Nom du site de mesure : </label>
    <select name="nom_site" id="nom_site" required>
        <option value="" selected disabled hidden>--Choisir--</option>
        <optgroup label="France">
            <option value="Grenoble-Campus">Grenoble-Campus</option>
            <option value="Sonnant">Sonnant</option>
        </optgroup>
        <optgroup label="Vietnam">
            <option value="Météo-CARE">Météo-CARE</option>
        </optgroup>
    </select>

</fieldset>